.page-footer {
  background-color: #f1f0f1;
  background: #f1f0f1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f1f0f1,
    #cecdce
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f1f0f1,
    #cecdce
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black !important;
}

.link-social,
.link-social a {
  color: black !important;
}
